/* .container {
  height: 30rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 30rem;
  height: auto;
  border-radius: 5px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.4);
  border-collapse: collapse;
  text-align: center;
}
td {
  padding: 3px;
}
th {
  font-size: 17px;
  cursor: pointer;
} */
