.container {
  max-width: 600px;
  margin: auto auto;
}

.mode {
  float: right;
  margin: 0 2.5rem;
}
.mode button {
  margin: 0 3px;
}

.product div {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  box-shadow: 5px 2px 10px 1px rgba(0, 0, 0, 0.4);
  position: relative;
  left: 40px;
  display: grid;
  justify-items: center;
  align-items: center;
}

.product {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 10px 40px;
}

.listView {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-gap: 10px 40px;
}
