<div class="container">
  <div class="mode">
    <button class="grid" (click)="onView('grid')">
      <i class="fas fa-th"></i>
    </button>
    <button class="list" (click)="onView('list')">
      <i class="fas fa-list"></i>
    </button>
    <select name="filter" id="filter" #event (change)="onFilter(event)">
      <option value="low">Price Low-High</option>
      <option value="high">Price High-Low</option>
    </select>
  </div>
  <div class="product" [ngClass]="{ listView: isListView }">
    <div *ngFor="let product of productsList">
      <p>{{ product.name }} - {{ product.price }}</p>
    </div>
  </div>
</div>
